*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: left;
}
body {
  font-family: "Avenir Next";
  color:#404146;
  text-align: center;
}

li {
  list-style: none;
}

.header {
  background: linear-gradient(to right, #21D4FD, #B721FF);
  color: #fff;
  height: 70px;
  width: 100%;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
  padding: 17px 40px;
}

.header-list li {
  float: left;
  padding: 23px 20px;
  font-size: 20px;
  transition: all 0.5s;
}

.header-list li:hover {
  background-color: #2b2c30;
  opacity: 0.2;
}

.header-list a {
  text-decoration: none;
  color:#fff;
}

.copy-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.copy-container h1 {
  font-size: 140px;
  padding: 0 20px;
  margin-bottom: 0px;
  letter-spacing: 10px;
}

.copy-container h2 {
  font-size: 60px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 30px;
}

.copy-container span {
  color: #B721FF;
}

.copy-container img {
  height:300px;
  border-radius: 100%;
}

.about { 
  font-size: 28px;
  background-color: rgba(32, 212, 253, 0.1);
  padding-top: 80px;
  padding-bottom: 80px;
}

.about h3 {
  padding-bottom: 20px;
}

.about p {
  padding: 0px 150px;
  font-size: 20px;
  line-height: 30px;
}

.about span {
  color: #B721FF;
  font-weight: 600;
}

.contents {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.contents h3 {
  font-size: 28px;
  padding-bottom: 20px;
}

.contents-item {
  float: left;
  width: 33.3%;
  
}

.contents-item img{
  height: 300px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(32, 212, 253, 0.1);
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
}

input, textarea {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding:20px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color:#7C7D83;
}

.contact-submit{
  width: 50%;
  background-color:#B721FF;
  color:#fff;
  font-size: 22px;
  cursor: pointer;
}

.contact-form p{
  font-size: 20px;
}

.footer {
  background:linear-gradient(to left, #21D4FD, #B721FF);
  color: #fff;
  height: 220px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 2px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color:#fff;
}

